.nav-item {
    position: relative;
    cursor: pointer;
}

.nav-item a {
    display: block;
    padding: var(--extra-small-padding);
    border-bottom: var(--thin-border);
    transition: color var(--normal-transition);
}

.nav-item:hover > a,
.nav-item:focus > a {
    color: var(--primary-color-1);
}

.nav-item > .list {
    position: relative;
    transition: color var(--normal-transition);
}

.nav-item > .list::after {
    content: "";
    width: 0.75em;
    height: 0.375em;
    background-color: black;
    clip-path: polygon(0 0, 20% 0, 50% 60%, 80% 0, 100% 0, 50% 100%, 0 0);
    position: absolute;
    top: calc(50% - 0.375em / 4);
    right: calc(0% + var(--extra-small-padding));
    transition: background-color var(--normal-transition), rotate var(--normal-transition);
}

.nav-item:hover > .list,
.nav-item:focus > .list {
    transition: color var(--normal-transition);
}

.nav-item:hover > .list::after,
.nav-item:focus > .list::after {
    background-color: var(--primary-color-1);
    transition: background-color var(--normal-transition), rotate var(--normal-transition);
}

@media screen and (min-width: 445px) {
    .nav-item > a {
        padding: 0;
        border-bottom: none;
    }

    .nav-item .list {
        margin-right: var(--small-padding);
        transition: color var(--delayed-normal-transition);
    }

    .nav-item .list::after {
        right: calc(0% - var(--small-padding));
        transition: background-color var(--delayed-normal-transition),
            rotate var(--delayed-normal-transition);
    }

    .nav-item:hover > .list::after,
    .nav-item:focus > .list::after {
        rotate: 180deg;
    }
}
