.page-footer__bottom {
    text-align: center;
    font-size: 0.9rem;
    padding-block: var(--small-padding);
}

.page-footer__bottom > a {
    font-size: 2rem;
    font-weight: bold;
    transition: color var(--normal-transition);
}

.page-footer__bottom > a:hover {
    color: var(--primary-color-1);
}
