.page__header__top {
    text-align: center;
    padding-block: var(--small-padding);
    font-size: 0.9em;
    transition: font-size var(--normal-transition);
}

.page__header__top > .logo > a {
    font-weight: 700;
    transition: color var(--normal-transition);
}

.page__header__top > .logo > a:hover,
.page__header__top > .logo > a:focus {
    color: var(--primary-color-1);
}

@media screen and (min-width: 900px) {
    .page__header__top {
        padding-block: var(--medium-padding);
    }
}

@media screen and (min-width: 1200px) {
    .page__header__top p {
        font-size: 0.9em;
    }
}
