.article__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--extra-small-gap);
    padding: var(--extra-small-padding);
    text-align: center;
    font-size: 1.1em;
    transition: font-size var(--normal-transition);
}

.article__header__genre {
    font-size: 1.05em;
}

.article__header__heading {
    font-size: 1.25em;
}

.article__header__heading a,
.article__header__comments {
    transition: color var(--normal-transition);
}

.article__header__heading a:hover,
.article__header__heading a:focus {
    color: var(--primary-color-1);
}

.article__header__date_and_comments {
    display: flex;
    gap: var(--small-gap);
    font-size: 0.8em;
}

.article__header__comments {
    display: flex;
    gap: var(--extra-small-gap);
    font-weight: 600;
    color: var(--primary-color-1);
    cursor: pointer;
}

.article__header__comments:hover,
.article__header__comments:focus {
    color: unset;
}
