.blog-article__header {
    font-weight: bold;
    padding-top: var(--medium-padding);
    padding-bottom: var(--small-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--small-gap);
}

.blog-article__header .heading {
    font-size: 1.5rem;
    text-align: center;
    transition: color var(--normal-transition), font-size var(--normal-transition);
}

.blog-article__header .heading:hover {
    color: var(--primary-color-1);
}

.blog-article__header > div {
    display: flex;
    gap: var(--small-gap);
}

.blog-article__header .comments {
    color: var(--primary-color-1);
    display: flex;
    gap: var(--extra-small-gap);
    transition: color var(--normal-transition);
}

.blog-article__header .comments:hover {
    color: unset;
}

@media screen and (min-width: 700px) {
    .blog-article__header {
        font-size: 1.25rem;
    }

    .blog-article__header .heading {
        font-size: 2rem;
    }
}
