.blog-article > figcaption {
    text-align: center;
    padding-block: var(--extra-small-padding);
    transition: font-size var(--normal-transition);
}

@media screen and (min-width: 900px) {
    .blog-article > figcaption {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1200px) {
    .blog-article > figcaption {
        font-size: 1.25rem;
    }
}
