/*
    ==============================
        CONTENT
    ==============================

    1- Imports
        1.1- Google Fonts

    2- Custom Properties
        2.1- Colors
        2.2- Paddings
        2.3- Gaps
        2.4- Borders
        2.5- Transitions
    
    3- Reset Styles
        3.1- Box Sizing
        3.2- Scroll Behavior
        3.3- Fonts
        3.4- Images
        3.5- Unordered Lists
        3.6- Links
        3.7- Horizontal Rules

    4- Utility Classes
        4.1- For Screen Readers Only
        4.2- Hide Elements
        4.3- Show Elements
        4.4- Display Flex

    5- Extra Small Screens Layout

    6- Responsive Layout
        6.1- Small Screens
        6.2- Medium Screens
        6.3- Large Screens
        6.4- Extra Large Screens
*/

/* 
    ==============================
        1- Imports
    ==============================
*/

/* 1.1- Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* 
    ==============================
        2- Custom Properties
    ==============================
*/

:root {
    /* 2.1- Colors */
    --primary-color-1: #b49543;
    --primary-color-2: #eeeeee;
    --secondary-color-1: #666666;
    --secondary-color-2: #cccccc;
    --secondary-color-3: #e6e6e6;

    /* 2.2- Paddings */
    --extra-small-padding: 0.5em;
    --small-padding: 1em;
    --medium-padding: 2em;
    --large-padding: 4em;
    /* --large-padding: 3rem; */

    /* 2.3- Gaps */
    --extra-small-gap: 0.5em;
    --small-gap: 1em;
    --medium-gap: 2em;

    /* 2.4- Borders */
    --thin-border-width: 0.05em;
    --primary-border-width: 0.15em;
    --thin-border: var(--thin-border-width) solid var(--secondary-color-3);
    --primary-border: var(--primary-border-width) solid var(--primary-color-2);

    /* 2.5- Transitions */
    --normal-transition: 0.25s;
    --normal-delay: 0.25s;
    --delayed-normal-transition: var(--normal-transition) var(--normal-delay);
}

/* 
    ==============================
        3- Reset Styles
    ==============================
*/

h1 {
    margin: 0;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* 3.1- Box Sizing */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    /* 3.2- Scroll Behavior */
    scroll-behavior: smooth;
}

body {
    /* 3.3- Fonts */
    font-family: "Quicksand", sans-serif;
}

/* 3.4- Images */
img {
    display: block;
    width: 100%;
}

/* 3.5- Unordered Lists */
ul {
    list-style-type: none;
}

/* 3.6- Links */
a {
    color: unset;
    text-decoration: none;
}

/* 3.7- Horizontal Rules */
hr {
    height: 0.01rem;
    width: 100%;
    background-color: var(--secondary-color-3);
    border: none;
}

/* 
    ==============================
        4- Utility Classes
    ==============================
*/

/* 4.1- For Screen Readers Only */
.screen-readers-only {
    position: absolute;
    left: -10000px;
}

/* 4.2- Hide Elements */
.hidden {
    display: none;
}

/* 4.3- Show Elements */
.visible {
    display: block;
}

/* 4.4- Display Flex */
.flex {
    display: flex;
}

/* 
    ==============================
        5- Extra Small Screens Layout
    ==============================
*/

#root {
    padding-inline: var(--extra-small-padding);
    transition: padding-inline var(--normal-transition), font-size var(--normal-transition);
    font-size: 0.9em;
}

/* 
    ==============================
        6- Responsive Layout
    ==============================
*/

/* 6.1- Small Screens */
@media screen and (min-width: 400px) {
    #root {
        padding-inline: var(--small-padding);
        font-size: 1em;
    }
}

/* 6.2- Medium Screens */
@media screen and (min-width: 700px) {
    #root {
        padding-inline: var(--medium-padding);
        font-size: 1.15em;
    }
}

/* 6.3- Large Screens */
@media screen and (min-width: 900px) {
    #root {
        max-width: 900px;
        margin-inline: auto;
        transition: max-width var(--normal-transition);
    }
}

/* 6.4- Extra Large Screens */
@media screen and (min-width: 1200px) {
    #root {
        max-width: 1200px;
        font-size: 1.5em;
    }
}
