/*
    ==============================
        CONTENT
    ==============================

    1- Imports
        1.1- Google Fonts

    2- Custom Properties
        Colors
        Paddings
        Gaps
        Logo
    
    3- Reset Styles
        3.1- Box Sizing
        3.2- Scroll Behavior
        3.3- Fonts
        3.4- Images
        3.5- Links
*/

/* 
    ==============================
        1- Imports
    ==============================
*/

/* 1.1- Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* 
    ==============================
        2- Custom Properties
    ==============================
*/

:root {
    /* Colors */
    --primary-color-1: #b49543;
    --primary-color-2: #eeeeee;
    --secondary-color-1: #666666;
    --secondary-color-2: #cccccc;
    --color-100: #e6e6e6;
    --color-200: #cccccc;
    --color-300: #b3b3b3;
    --color-400: #999999;
    --color-500: #808080;
    --color-600: #666666;
    /* Paddings */
    --extra-small-padding: 0.5rem;
    --small-padding: calc(var(--extra-small-padding) * 2);
    --medium-padding: calc(var(--small-padding) * 2);
    /* Gaps */
    --small-gap: 0.5rem;
    --medium-gap: calc(var(--small-gap) * 2);
    /* Logo */
    --logo-font-size: 3rem;
    /* Borders */
    --thin-border: 0.05rem solid var(--primary-color-2);
    --primary-border: 0.15rem solid var(--primary-color-2);
}

/* 
    ==============================
        3- Reset Styles
    ==============================
*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* 3.1- Box Sizing */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: color 0.1s;
}

html {
    /* 3.2- Scroll Behavior */
    scroll-behavior: smooth;
}

body {
    /* 3.3- Fonts */
    font-family: "Quicksand", sans-serif;
}

/* 3.4- Images */
img {
    display: block;
}

/* 3.5- Links */
a {
    color: unset;
    text-decoration: none;
}

hr {
    height: 0.01rem;
    background-color: var(--color-100);
    border: none;
}
