.nav-item .sub_menu {
    /* visibility: visible; */
    padding-inline: var(--small-padding);
    transition: visibility var(--delayed-normal-transition);
}

.nav-item .sub_menu > li:hover > a,
.nav-item .sub_menu > li:focus > a {
    color: var(--primary-color-1);
}

@media screen and (min-width: 445px) {
    .nav-item .sub_menu {
        display: block;
        visibility: hidden;
        border: var(--thin-border);
        border-bottom: none;
        padding-inline: 0;
        background-color: white;
        width: 300%;
        position: absolute;
        top: calc(100% + var(--extra-small-padding));
        left: 0;
        z-index: 2;
    }

    .nav-item:hover > .sub_menu,
    .nav-item:focus > .sub_menu {
        visibility: visible;
        transition: visibility var(--normal-transition);
    }
}

@media screen and (min-width: 900px) {
    .nav-item .sub_menu {
        top: calc(100% + var(--small-padding));
    }
}
