.search__bar.hidden {
    display: none;
}

.search__bar.flex {
    display: flex;
}

.search__bar {
    border: none;
    padding: var(--small-padding);
    background-color: var(--primary-color-2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--small-gap);
    position: absolute;
    right: 0;
    top: calc(
        100% + var(--extra-small-padding) + var(--extra-small-padding) + var(--primary-border-width)
    );
    z-index: 2;
}

.search__bar input {
    border: none;
    outline: none;
    background-color: var(--primary-color-2);
    padding-block: var(--extra-small-padding);
}

.search__bar .fa-xmark {
    font-size: 1.25em;
    color: var(--secondary-color-1);
    transition: color var(--normal-transition);
}

.search__bar .fa-xmark:hover,
.search__bar .fa-xmark:focus {
    color: var(--primary-color-1);
}

@media screen and (min-width: 445px) {
    .search__bar {
        top: calc(100% + var(--extra-small-padding));
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 900px) {
    .search__bar {
        top: calc(100% + var(--small-padding));
    }
}
